img {
  position: absolute;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

div, canvas{
	position:absolute;
}


div.slider_button{	
	position: absolute;	
	width:  20px;
	height: 12px;
	top: 0px;
	left: 20px;

}

.grayed{
	background-color: #6e6e6e;	
}


div.slider_bar{
	position: absolute;
 	background-color: #6e6e6e;
	height: 2px;
	z-index: -20;
	padding: 0px;
	margin: 0px;
}

.bordered{
	border-style:solid;
	border-color: #6e6e6e;
	border-width: 2px;
	border-radius: 10px;
	background-color: #ffffff;
	padding: 0px;
	margin: 0px;
	z-index:0;
}


div.button{
	position: absolute;
	width: 20px;
	height: 20px;
}